form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 50%;

    & input {
        width: 80%;
        height: 30px;
        flex-grow: 1;
    }

    & div {
        width: 80%;
        display: flex;
        gap: 7px;
    }
}

.Botoes {
    display: flex;
    justify-content: right;

    & button {
        background-color: #809c34;
        border: 0;
        width: 28%;
        height: 40px;
        font: bolder;
        color: white;
        font-size: 18px;
        border-radius: 10px;
    }
}

.divData {
    display: flex;
    align-items: center;

    & select {
        width: 100%;
        height: 30px;
    }
}