.btnVoltar   {
    width: 35px;
    background-color: #809c34;
    border: 0;
    aspect-ratio: 1/1;
    font: bolder;
    color: white;
    font-size: 18px;
    /* margin: 20px; */
    border-radius: 50%;
}