
.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

    padding: 5px 20px;
    background-color: #d8e6aa;

    & * {
        color: var(--cor-fonte-principal);
    }

    & h1, & h2 {
        font-weight: 500;
    }

    & > * {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & > :first-child {
        justify-content: flex-start;
    }

    & > :last-child {
        align-items: stretch;
        justify-content: flex-end;
    }

    & > :last-child button {
        background-color: var(--background-botoes);
        color: var(--cor-fonte-secundaria);
        border: none;
        font-size: 23px;
    
        display: flex;
        align-items: center;
        padding: 0 20px 0;
        border-radius: 10px;
    
        & i {
            color:#d8e6aa;
            font-weight: 100;
            font-size: 30px;
        }
    }
}

.containerLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    padding-bottom: 4px;
    border-radius: 10px;

    background-color: var(--cor-fonte-secundaria);

    & img {
        max-width: 55px;
        aspect-ratio: 1 / 1;
    }
}

.containerNavegacao {
    display: flex;
    justify-content: space-around;
    padding: 5px 0 3px;

    background-color: #e7efc4;

    & > * {
        color: var(--cor-fonte-principal);
        font-size: 20px;
    }

    & .subNav {
        cursor: pointer;
    }

    & .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: #d8e6aa;
        
        & > *:not(hr) {
            padding: 5px;
        }

        & * {
            transition: scale 0.2s ease;
            color: var(--cor-fonte-principal) !important;
        }
        
        & > *:hover {
            scale: 102%;
        }
    }


}

.containerNavegacao, .cabecalho {
    & * {
        text-transform: uppercase;
    }
}

.botaoMenu {
    display: none;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

@media (max-width: 768px) {
    .cabecalho {
        h1 {
            font-size: 0;
        }
        h2 {
            font-size: 1.3em;
        }

        & > :last-child a {
            font-size: 18px;
            padding: 0 20px 0;
        }

        & .titulo{
            text-align: center;
        }
    }

    .botaoMenu{
        display: flex;
        color: black;
        background-color: #e7efc4;
        font-size: 30px;
        width: 100%;
        text-align: start;
        padding-left: 20px;
    }
    .containerNavegacao {
        flex-direction: column;
        width: 100%;
        padding: 20px;
        gap: 6px;
        margin-bottom: 3px;
        
        &.open {
            flex-direction: column;
            display: flex;
        }

        &.close {
            display: none;
            flex-direction: column;
        }
    }
}