
.CardConta {
    --tamanho-CardConta: 120px;

    /* border: blue solid 1px; */
    width: var(--tamanho-CardConta);
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center;

    & .icone {
        width: var(--tamanho-CardConta);
    }

    & .divTexto{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }
}