
.card {
    --tamanho-card: 120px;

    /* border: blue solid 1px; */
    width: var(--tamanho-card);
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 

    & .icone {
        width: var(--tamanho-card);
    }
}