
.CardConta {
    --tamanho-CardConta: 120px;

    /* border: blue solid 1px; */
    width: var(--tamanho-CardConta);
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center;

    cursor: pointer;
    & .icone {
        width: var(--tamanho-CardConta);
    }

    & .divTexto{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 640px){
    .CardConta {
        --tamanho-CardConta: 85px;
    }
}