
.card {
    /* border: black solid 1px; */
    border-radius: 7%;
    background-color: #ffffdd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 8px;
    width: 100px;
}