.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid black 1px;
    padding: 8px;
    /* width: 50%; */

    & .icone{
        width: 20px;
    }
}