.contas{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    /* border: solid red; */
    width: 90%;
    margin-top: 80px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
    justify-content: space-between;

    & .semConta {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.container::after {
    content: '';
    /* flex: auto;  */
    flex-grow: 1;
    /* border: red solid 1px; */
}

@media (max-width: 768px) {
    .container {
        margin-top: 40px;
        width: 80%;
        gap: 60px;
    }
}