.contas{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    /* border: solid red; */
    width: 90%;
    margin-top: 80px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
    justify-content: space-between;
}

.container::after {
    content: '';
    flex: auto; /* Faz com que o espaço restante da linha final seja preenchido */
}