form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form h1{
    font-size: 40px;
}

.formulario{
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* border: red solid; */
    gap: 50px;
}

.formulario img{
    width: 30%;
    background-color: rgb(255, 255, 221);
    border-radius: 15px;
    cursor: pointer;
}

.dados{
    /* border: solid red; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 10px;
}

.formulario hr{
    background-color: #809c34;
    height: 2px;
}

.containerBotoes{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    /* border: solid red; */
}

.cabecalho select {
    appearance: none;
    background-color: rgba(255, 0, 0, 0);
    border: none;
    outline: none;
    width: 90%;
    font-size: 22px;
    font-weight: bold;
}


.dados input[type="text"], .cabecalho p {
    font-size: 20px;
    background-color: rgba(255, 0, 0, 0);
    border: none;
    font-weight: bold;
}

.nomeConta {
    font-size: 20px;
    background-color: rgba(255, 0, 0, 0);
    border: none;
    font-weight: bold;
}

.cabecalho p {
    color: inherit;
    cursor: pointer;
}

.cabecalho p.naoSelecionado {
    color: #757575;
} 

.containerForm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 768px) {
    
    form h1{
        font-size: 34px;
    }
    
    .formulario{
        align-items: center;
        flex-direction: column;
        gap: 30px;
    }
    
    .formulario img{
        padding: 15px;
    }
    
    .dados {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .cabecalho{
        display: flex;
        flex-direction: row;
        align-items: none;
        justify-content: space-between;

        & select{
            appearance: none;
            background-color: rgba(255, 0, 0, 0);
            border: none;
            outline: none;
            width: 50%;
            font-size: 22px;
            font-weight: bold;
        }

        & input[type="text"]{
            width: 50%;
            text-align: end;
        }
    }
    
    .containerBotoes{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 7px;
        margin-top: 30px;
        
        & button {
            padding: 3px;
            width: 100%;
            height: 40px;
        }
        /* border: solid red; */
    }
    
    .containerForm{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
    }
}
