.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    background-color: #fffcf4;
    text-align: center;
    min-width: 350px;
    width: 60%;
    height: 400px;

    & a {
        cursor: pointer;
        color: var(--background-botoes);
        text-decoration: underline;
    }

    & input[type="text"], & input[type="password"]{
        /* border: solid red 1px; */
        min-width: 260px;
        width: 30%;
        height: 25px;
        font-size: 16px;

        margin-bottom: 10px;
    }

    
    & button {
        background-color: #809c34;
        border: 0;
        width: 28%;
        height: 30px;
        font-weight: bolder;
        color: white;
        font-size: 18px;
        border-radius: 10px;
    }
}





