.containerMovimentacoes {
    display: flex;
    flex-direction: column;
    gap: 12px;

    & ul {
        display: flex;
        flex-direction: column;
        gap: 12px;
        flex-grow: 1;

        overflow-y: auto;
        scrollbar-gutter: stable;
    }
}

.seletores, .seletores div  {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.seletores {
    justify-content: space-around;
    scrollbar-gutter: stable;
    overflow-y: hidden;
    min-height: 30px;
    
    & > div {
        justify-content: flex-start;
        flex-basis: 18%;
    }

    & > div:last-child {
        flex-basis: 10%;
        justify-content: center;
    }

    & label {
        text-transform: uppercase;
        font-size: 25px;
        font-weight: 600;
        color: var(--cor-fonte-principal);
    
        margin-right: 5px;
    
        user-select: none;
    }

    & i {
        padding-bottom: 8px;
        font-size: 19px;
    
        color: var(--background-botoes);
    }
    
    & i.selecionado {
        color: var(--cor-fonte-principal);
        scale: 130%;
    }
}

.movimentacao {
    display: flex;
    flex-direction: row;

    & span {
        flex-basis: 18%;
        font-size: 16px;
        font-weight: 300;
        color: var(--background-botoes);
    }
    
    & span:last-child {
        flex-basis: 10%;
        display: flex;
        justify-content: center;
        gap: 15px;
        font-size: 20px;
    }

    & input {
        flex-basis: 18%;
        width: 18%;
        font-size: 16px;
        font-weight: 300;
        color: var(--background-botoes);

        
        border: 1px solid;
        border-image-slice: 1;
        border-style: solid;
        border-image-source: linear-gradient(90deg, var(--cor-fonte-principal) 0%, var(--cor-fonte-principal) 90%, #0000 100%);;
        border-top: none;
        border-right: none;
        border-left: none;

        outline: none;
    }

    & select {
        width: 18%;
    }

    & input:focus, & input:focus-visible {
        border: 1px solid;
        border-image-slice: 1;
        border-style: solid;
        border-image-source: linear-gradient(90deg, var(--cor-fonte-principal) 0%, var(--cor-fonte-principal) 90%, #0000 100%);;
        border-top: none;
        border-right: none;
        border-left: none;
    }

    & input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    & i {
        cursor: pointer;
    }
}



.total {
    display: flex;
    justify-content: space-between;
    align-items: end;
    min-height: 60px;

    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;

    & span {
        color: var(--background-botoes);
    }
}


