.relatorio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
    height: 100%;


    & .alinharRelatorio {
        height: 100%;
        display: flex;
        gap: 20px;
        max-width: 100%;
        width: fit-content;
        overflow-x: scroll;
    }

    & .dado {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        height: 100%;
        min-width: fit-content;
        width: 70px;
        padding-bottom: 10px;

        & .coluna {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            
            flex-grow: 1;
            width: 100%;
            
            & .colunaPreenchida {
                background-color: aqua;
            }
        }
    }

    & .graficoPizza {
        width: 300px;
        align-self: center;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
    }

    & ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;

        & li {
            display: flex;
            gap: 10px;
        
            & div {
                width: 20px;
                aspect-ratio: 1 / 1;
            }
         
            .cor1 {
                background-color: pink;
            }
            .cor2 {
                background-color: lightblue;
            }
            .cor3 {
                background-color: orange;
            }
            .cor4 {
                background-color: aquamarine;
            }
            .cor5 {
                background-color: chartreuse;
            }
        }
    }
}

.mudarTelas {
    display: block;
    height: fit-content;
    padding: 10px;
    cursor: pointer;
    left: 0;
    background-color: #0000;
    align-self: start;
}