.relatorio {
    display: flex;
    gap: 20px;
    overflow-x: scroll;

    height: 100%;

    & .dado {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        height: 100%;
        width: 70px;
        padding-bottom: 10px;

        & .coluna {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            
            flex-grow: 1;
            width: 100%;
            
            & .colunaPreenchida {
                background-color: aqua;
            }
        }
    }
}