form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form h1{
    font-size: 50px;
}

.formulario{
    display: flex;
    flex-direction: row;
    border: red solid;
    gap: 50px;
}

.formulario img{
    width: 65%;
    background-color: rgb(255, 255, 221);
    padding: 20px;
    border: black solid 2px;
    border-radius: 15px;
}

.dados{
    border: solid red;
    display: flex;
    flex-direction: column;
}

.cabecalho{
    display: flex;
    flex-direction: row;
}